.vscode
/target
config.toml
docs/
!docs/
docs/*
!docs/swmi-architecture-plan.md
!docs/test-infrastructure-access.md
!docs/sc2/
!docs/sc2/**
/docs
!docs/
docs
docs/
docs/*
!docs/tetra/
docs/tetra/*
!docs/tetra/TPI-ontwerp-en-implementatie.md
*.lock
tmp
tmp/
tmp/*
Cargo.lock
